*{
    padding: 0;margin: 0;box-sizing: border-box;
}



:root {
    --lima: #d6ff49;
  }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
body {
    overflow-x: hidden;
}
.promo{
    display: flex;
    width: 100%;
    height: 44px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100%;
}
.logo{
    display: flex;
    background-color: var(--lima);
    height: 100%;
    width: 13%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    border-right: solid 1px black;border-left: solid 1px black;
}
.menu{
    display: flex;
    width: 100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px black solid;
}
.menu2{
    height: 100%;
    width: 87%;
    display: flex;
    flex-flow: column nowrap;
}
.esp1{
    display: flex;
    height: 100%;
    width: 45%;
    background-color: white;
    
}
.cima{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    height: 66px;
}
.baixo{
    background-color: white;
    display: flex;
    width: 81%; height: 11px;
    
    border-right: solid 1px black;
}
.botao1{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 12%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.4s all;
    border-right: solid black 1px;
    font-weight: 300;
}
.botao2{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 12%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.4s all;
    border-right: solid black 1px;
    font-weight: 300;
}
.botao1:hover{
    background-color: rgb(0, 0, 0);
    color: var(--lima);
    cursor: pointer;

}
.botao2:hover{
    background-color: rgb(0, 0, 0);
    color: var(--lima);
    cursor: pointer;
}
.botao3{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 12%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.4s all;
    border-right: solid black 1px;
    font-weight: 300;
}
.botao3:hover{
    background-color: rgb(0, 0, 0);
    color: var(--lima);
    cursor: pointer;
}
.terceirobagulho{
    display: flex;
    background-color: white;
    height: 100%;
    width: 19%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 300;
}
.davi{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 945px; ;
    width:900px ;
    background-color: rgb(255, 255, 255);
    flex-flow: column nowrap;
}
.dada{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.antProx{
    display: flex;
}
.vermelha1{
    display: flex;
    justify-content: space-between;
    height: 100px; ;
    width:900px ;
    background-color:  rgb(255, 255, 255);
    margin-top: 20px;
}

.preta{
    background-color: rgb(255, 255, 255);
    height: 845px;
    width: 100%;
    display: flex;
}
.vermelha2{
    display: flex;
    width: 60%;
    height: 100%;
    border: solid rgb(255, 255, 255) 10px;
    flex-flow: column nowrap;
}
.vermelha3{
    display: flex;
    flex-flow: column;
    width: 40%;
    height: 100%;
    border: solid rgb(252, 252, 252) 10px;
}
.laranja1{
    display: flex;
    background-color: rgb(255, 255, 255);
    background-image: url("https://static.wixstatic.com/media/c837a6_2308b08ad22c4e4aa919906536a1b5d1~mv2.jpg/v1/fill/w_500,h_667,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_2308b08ad22c4e4aa919906536a1b5d1~mv2.jpg");
    height: 70%;
    width: 100%;
}
.laranja2{
    display: flex;
    justify-content: center; 
    background-color: rgb(255, 253, 253);
    height: 30%;
    width: 100%;
    padding-top: 10px;
}
.roxo {

    display: flex;
    justify-content: flex-start; 
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    
}

.roxo2 {
    display: flex;
    font-size: small; 
    background-color: rgb(253, 255, 255);
    height: 5%;
    width: 100%;

}
 .roxo25 {
display: flex;
    font-size: larger; 
    background-color: rgb(253, 255, 255);
    height: 5%;
    width: 100%;
 }

.roxo3 {
    display: flex; 
    font-size:large;
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;

    
}

.roxo35 {
    display: flex; 
    font-size:large;
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    margin-left: 1vw;

    
}


.roxo4 {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
}

.roxo45 {
    display: flex;
    border: 2px solid black; 
    font-size: larger;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: fit-content;
    padding: 6px;
    margin-left: 2vw;
}

.roxo5 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #d6ff49;
    background-color: rgb(0, 0, 0);
    height: 5%;
    width: 100%;

    
}
.roxo6 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(245, 244, 244);
    height: 5%;
    width: 100%;
    
}

.roxo65 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    
}


.roxo7 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(255, 255, 255);
    height: 27%;
    width: 100%;
    
}

.roxo8 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(240, 238, 238);
    height: 5%;
    width: 100%;
    
}
.roxo9 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    
}

.roxo10 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(245, 240, 240);
    height: 5%;
    width: 100%;
    
}
.roxo11 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(255, 255, 255);
    height: 15%;
    width: 100%;
    
}

a {
    color: black;
    text-decoration: none;
}



