*{
    padding: 0;margin: 0;box-sizing: border-box;
}
.davi{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 945px; ;
    width:900px ;
    background-color: rgb(255, 255, 255);
    flex-flow: column nowrap;
}
.dada{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.vermelha1{
    display: flex;
    justify-content: space-between;
    height: 100px; ;
    width:900px ;
    background-color:  rgb(153, 14, 14);
    margin-top: 20px;
}
.preta{
    background-color: rgb(255, 255, 255);
    height: 845px;
    width: 100%;
    display: flex;
}
.vermelha2{
    display: flex;
    width: 60%;
    height: 100%;
    border: solid rgb(255, 255, 255) 10px;
    flex-flow: column nowrap;
}
.vermelha3{
    display: flex;
    flex-flow: column;
    width: 40%;
    height: 100%;
    border: solid rgb(252, 252, 252) 10px;
}
.laranja1{
    display: flex;
    background-color: rgb(255, 255, 255);
    background-image: url("https://static.wixstatic.com/media/c837a6_944cb31b5c7d4659b7a0c6612b4df573~mv2.jpg/v1/fill/w_500,h_667,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_944cb31b5c7d4659b7a0c6612b4df573~mv2.jpg");
    height: 70%;
    width: 100%;
}
.laranja2{
    display: flex;
    justify-content: center; 
    background-color: rgb(255, 253, 253);
    height: 30%;
    width: 100%;
    padding-top: 10px;
}
.roxo {

    display: flex;
    justify-content: flex-start; 
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    
}

.roxo2 {
    display: flex;
    font-size: small; 
    background-color: rgb(253, 255, 255);
    height: 5%;
    width: 100%;

}
.roxo3 {
    display: flex; 
    font-size:large;
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;

    
}

.roxo35 {
    display: flex; 
    font-size:large;
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    margin-left: 1vw;

    
}


.roxo4 {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
}

.roxo45 {
    display: flex;
    border: 2px solid black; 
    font-size: larger;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: fit-content;
    padding: 6px;
    margin-left: 2vw;
}

.roxo5 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #d6ff49;
    background-color: rgb(0, 0, 0);
    height: 5%;
    width: 100%;

    
}
.roxo6 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(245, 244, 244);
    height: 5%;
    width: 100%;
    
}

.roxo65 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    
}


.roxo7 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(255, 255, 255);
    height: 27%;
    width: 100%;
    
}

.roxo8 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(240, 238, 238);
    height: 5%;
    width: 100%;
    
}
.roxo9 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    
}

.roxo10 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(245, 240, 240);
    height: 5%;
    width: 100%;
    
}
.roxo11 {

    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #000000;
    background-color: rgb(255, 255, 255);
    height: 15%;
    width: 100%;
    
}

a {
    color: black;
    text-decoration: none;
}



